<%= flash[:notice] %>
<ul>
  <% @bookmarks.each do |bookmark| %>
    <li id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>" target="_blank">
        <%= bookmark.title %>
      </a>
      <form action="/bookmarks/<%= bookmark.id %>/delete" method="post">
        <input type='hidden' name='_method' value='DELETE'/>
        <input type="hidden" name="id" value ="<%= bookmark.id %>"/>
        <input type="submit" value="Delete" />
      </form>
      <form action="/bookmarks/<%= bookmark.id %>/edit" method="patch">
        <!-- <input type='hidden' name='_method' value='EDIT'/> -->
        <input type="hidden" name="id" value ="<%= bookmark.id %>"/>
        <input type="submit" value="EDIT" />
      </form>
    </li>
  <% end %>
</ul>

<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add a Bookmark">
</form>
